@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin border-top {
  border-top: 1px solid $light-grey-2;
  padding-top: 5rem;
  display: inline-block;
}

@mixin center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
