.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($black, 0.3);
    text-align: center;
    cursor: pointer;

    @include respond(tablet-portrait) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($light-green, $dark-green);
    z-index: 1000;
    transition: all 0.6s;

    @include respond(tablet-portrait) {
      top: 3.5rem;
      right: 3.5rem;
    }
    // transform: scale(100);
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.4s;
  }
  &__list {
    @include center-item;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1.5rem;
  }
  &__link {
    display: inline-block;
    font-size: 3rem;
    color: $white;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;

    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 230%;
    transition: all 0.5s;

    &:hover {
      background-position: 100%;
      color: $green;
      transform: translateX(0.3rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100vw;
  }

  // icon

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      background-color: $dark-grey-1;
      display: inline-block;
      height: 2px;
      width: 3rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1rem;
  }

  &__button:hover &__icon:after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      transform: rotate(135deg);
      top: 0;
    }

    &::after {
      transform: rotate(-135deg);
      top: 0;
    }
  }
}
